<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragmente/head') %>
</head>
<body>

<%- include('../fragmente/header') %>

<main>
    <section>
        <h2>Despre Noi</h2>
        <p>Acesta este istoricul magazinului nostru.</p>
    </section>
</main>

<%- include('../fragmente/footer') %>

</body>
</html>
