<footer><address>
        <a href="tel:+40754620300"><i class="fa-solid fa-phone"></i> +40 754 620 300</a><br>
        Bulevardul Regina Elisabeta Nr. 4-12,<br>
        030018 București, România<br>
        <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Universitatea+din+Bucuresti" target="_blank">
            <i class="fa-solid fa-location-dot"></i> Facultatea de Matematică și Informatică
        </a><br>
        <a href="mailto:contact@haivintage.ro"><i class="fa-solid fa-envelope"></i> contact@haivintage.ro</a><br>
        <a href="https://wa.me/40754620300"><i class="fa-brands fa-whatsapp"></i> Contactează-ne pe WhatsApp</a>
    </address>

    <iframe src="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica,+Universitatea+din+Bucuresti&output=embed"
            width="400" height="250"
            title="Locația pe Google Maps"
            allowfullscreen>
    </iframe>

    <small>&copy; HaiVintage <time datetime="2025-03-06">6 martie 2025</time>. Toate drepturile rezervate.</small>
</footer>

<a id="link-top" href="#" data-tooltip="Înapoi la începutul paginii">
    <span class="cerc-btn">
        <span class="sageata">&#8593;</span>
    </span>
</a>