<header class="principal">
  <h1>HaiVintage</h1>
  <nav id="meniu-principal">

    <!-- Чекбокс гамбургера -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle" hidden>

    <label for="menu-toggle" class="hamburger-btn" aria-label="Deschide meniul">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- Обёртка: фон + меню растягиваются вместе -->
    <div class="menu-wrapper">
      <ul id="lista-meniu">

        <li class="acasa has-submenu">
          <input type="checkbox" id="sub-acasa" class="sub-toggle" hidden>
          <!-- Десктоп: ссылка -->
          <a href="/index" class="menu-link">
            <i class="fa-solid fa-house"></i>
            <span>Acasă ▾</span>
          </a>
          <!-- Мобильный: label-триггер -->
          <label for="sub-acasa" class="menu-trigger">
            <i class="fa-solid fa-house"></i>
            <span>Acasă ▾</span>
          </label>
          <ul>
            <li><a href="#prezentare">Despre</a></li>
            <li><a href="#evenimente">Evenimente</a></li>
            <li><a href="#galerie">Galerie</a></li>
            <li><a href="#oferte">Produse</a></li>
            <li><a href="#video">Video</a></li>
          </ul>
        </li>

        <li class="has-submenu">
          <input type="checkbox" id="sub-colec" class="sub-toggle" hidden>
          <!-- Десктоп: кнопка -->
          <button class="btn-submeniu menu-link">
            <i class="fa-solid fa-layer-group"></i>
            <span>Colecții ▾</span>
          </button>
     
          <label for="sub-colec" class="menu-trigger">
            <i class="fa-solid fa-layer-group"></i>
            <span>Colecții ▾</span>
          </label>
          <ul>
            <li><a href="/dama">Haine damă</a></li>
            <li><a href="/barbati">Haine bărbați</a></li>
            <li><a href="/accesorii">Accesorii</a></li>
          </ul>
        </li>

        <li>
          <a href="/despre">
            <i class="fa-solid fa-circle-info"></i>
            <span>Despre</span>
          </a>
        </li>

        <li>
          <a href="/blog">
            <i class="fa-solid fa-pen"></i>
            <span>Blog</span>
          </a>
        </li>

        <li>
          <a href="/contact">
            <i class="fa-solid fa-envelope"></i>
            <span>Contact</span>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</header>